<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/backend/assets/style.css" type="text/css">
    <title>Login system | reset password</title>
</head>

<body>
    <div class="body">
        <form class="form" action="/account/resetpassword" method="POST">
            <input class="input" type="password" name="password" placeholder="new password" required>
            <input class="input submit" type="submit" value="SUBMIT">
        </form>
    </div>
</body>
</html>