.home{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.homecontainer{
    border: 1px solid white;
    padding: 5em 5em;
}

.homecontainer h1{
    font-size: 4rem;
    font-weight: 550;
}

.homecontainer h1 span{
    font-size: 3.5rem;
    color: tomato;
}

.homecontainer a{
    display: inline-block;
    background-color: tomato;
    color: white;
    font-size: 2rem;
    padding: 1em;
    text-decoration: none;
    margin: 1em 1em;
    font-weight: 500;

}

.homecontainer a:hover{
    background-color: rgb(247, 122, 100);
}